<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,
    width=device-width,initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>关于我们</title>
  {% include 'link.html' %}

<body>
  <section id="about">
    <img src="/img/logo.jpeg" alt="">
    <h3>求索学霸Club</h3>
    <p>客服电话：<a href="tel:18072930056">18072930056</a></p>
  </section>
</body>
<script src="/js/login.js"></script>

</html>