<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,
    width=device-width,initial-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>课程详情</title>
    <script src="/js/zepto.min.js"></script>
    <script src="/js/utils.js"></script>
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <section id="curriculum-detail">
      <header>
        <video
          src="https://www.w3school.com.cn/i/movie.ogg"
          controls
          autoplay
        ></video>
        <h3>换种方式去旅行·最美的记忆永远在远方</h3>
      </header>
      <div class="main">
        <p class="title blue-line">课程大纲</p>
        <div>
          我来过张家界两次，虽然这里的美景让我迷醉，但最让我心心念念的，还是云海和云雾。上次运气好，又有张家界土家族小伙小祥帮忙安排行'
        </div>
      </div>
    </section>
  </body>
</html>
