<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,
    width=device-width,initial-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>考试列表</title>
    {% include 'link.html' %}
  </head>
  <body>
    <section id="examination">
      <a class="box" href="./inTheExam.html?id=23">
        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1564486582300&di=f7bc5ac865ad35821d5abaccd2669a4b&imgtype=0&src=http%3A%2F%2Fg.hiphotos.baidu.com%2Fimage%2Fpic%2Fitem%2F5366d0160924ab18014cefd83bfae6cd7a890b82.jpg" alt />
        <p>
          <strong class="g-overflow-hidden">第二次深圳大区会考——语文</strong>
          <span>描述河西走廊之梦——从张掖开始，到张掖结束中秋国庆16天长假走起来结束中秋国庆描述河西走廊之梦来</span>
        </p>
      </a>
    </section>
  </body>
</html>
