<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,
    width=device-width,initial-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>求索学霸Club</title>
    {% include 'link.html' %}
  </head>
  <body>
    <section id="index">
      <div class="main g-clear">
        <!-- <div class="module">
          <img src="/img/module-icon1.jpg" alt />
          我的课程
        </div>
        <div class="module">
          <img src="/img/module-icon1.jpg" alt />
          我的考试
        </div> -->
        <div class="module" onclick="goAPP()">
          <img src="/img/module-icon1.jpg" alt />
          小布智学
        </div>
      </div>
      <footer>
        <a class="active g-c-center" href="javaScript: void();">
          <img src="/img/nav-icon1.png" alt />我的服务
        </a>
        <a class="active g-c-center" href="/personal">
          <img src="/img/nav-icon2.png" alt />我的资料
        </a>
      </footer>
    </section>
  </body>
  <script src="/js/index.js"></script>
</html>
