<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,
    width=device-width,initial-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>我的的订阅</title>
    <script src="/js/zepto.min.js"></script>
    <script src="/js/utils.js"></script>
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <section id="mySubscribe">
      <ul></ul>
    </section>
  </body>
  <script src="/js/mySubscribe.js"></script>
</html>
