<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,
    width=device-width,initial-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>求索学霸Club</title>
    {% include 'link.html' %}
  </head>
  <body>
    <section id="personal">
      <header class="g-r-center">
        <img class="avatar" src="/img/logo.jpeg" alt />
        <!-- <img class="edit" src="/img/edit-icon.png" alt /> -->
        <p class="user-info">
          <strong></strong>
          <!-- <span>预留文字：学无止境</span> -->
        </p>
        <img class="arrow" src="/img/arrow-icon2.png" alt />
      </header>
      <div class="menu-list">
        <!-- <a href="./curriculum.html"
          ><img src="/img/menu-icon1.png" alt />我的视频
        </a>
        <a href="./examination.html"
          ><img src="/img/menu-icon2.png" alt />我的考试
        </a> -->
        <a href="/mySubscribe">
          <img src="/img/menu-icon3.png" alt />我的订阅
        </a>
        <a href="/about">
          <img src="/img/menu-icon4.png" alt />关于我们
        </a>
        <!-- <a href="javaScript: void(0);">
          <img src="/img/menu-icon4.png" alt />设置
        </a> -->
      </div>
      <footer>
        <a href="./" class="g-c-center">
          <img src="/img/nav-icon3.png" alt />我的服务
        </a>
        <a href="javaScript: void(0);" class="active g-c-center">
          <img src="/img/nav-icon4.png" alt />个人资料
        </a>
      </footer>
    </section>
  </body>
  <script src="/js/personal.js"></script>
</html>
